@model WorkhourDemo.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Yksityiskohdat</h2>

<div>
    <h4>Työntekijä</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.Employee_Name)-->
            <span>Työntekijän nimi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.Start_Date)-->
            <span>Aloituspäivämäärä</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.Department.Department_Name)-->
            <span>Yksikkö</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Department_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Employee_ID }) |
    @Html.ActionLink("Takaisin listaukseen", "Index")
</p>
